## pandas

In [2]:
import pandas as pd

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 3.4 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/11.0 MB 2.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.0 MB 2.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.0 MB 2.4 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.0 MB 1.9 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/11.0 MB 1.9 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/11.0 MB 1.7 MB/s eta 0:00:06
   --------- ------------------------------ 2.6/11.0 MB 1.6 MB/s eta 0:00:06
   ---------- ----------------------------- 2.9/11.0 MB 1.4 MB/s eta 0:00:06
   ---------- ----------------------------- 2.9/11.0 MB 1.4 MB/s eta 0:00:06
   ----------- ---------------------------- 3.1/11.0 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.4/11.0 MB 1.4 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.0 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.0 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.0 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 4.7/11.0 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/11.0 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.0/11.0 MB 1.2 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/11.0 MB 1.2 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.5/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 5.8/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.0 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.3/11.0 MB 1.2 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.0 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.6/11.0 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.0 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 8.9/11.0 MB 1.1 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.0 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.0 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.0 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.0 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.0 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.0 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.0 MB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 997.4 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 992.3 kB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 992.3 kB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 988.0 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 981.3 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 981.3 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 970.9 kB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]

In [4]:
import pandas as pd

In [6]:
x = {
    'Name': ['Rose', 'John', 'Jane', 'Mary'],
    'ID': [1, 2, 3, 4],
    'Department': ["Computer Science", 'Education', "Humanity", "Finance"],
    'Salary': [100000, 80000, 50000, 60000]
}
# casting the dictonary to a daraframe
df=pd.DataFrame(x)
df

   Name  ID        Department  Salary
0  Rose   1  Computer Science  100000
1  John   2         Education   80000
2  Jane   3          Humanity   50000
3  Mary   4           Finance   60000

In [7]:
#retrieving the id column 
x= df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [8]:
type(x)

pandas.core.frame.DataFrame

In [9]:
# multiple column access

In [10]:
z= df[['Department','Salary',"ID"]]
z

         Department  Salary  ID
0  Computer Science  100000   1
1         Education   80000   2
2          Humanity   50000   3
3           Finance   60000   4

In [12]:
y = {
    'Student': ['David', 'Samuel', 'Terry', 'Evan'],
    'Age': [27, 24, 22, 32],
    'Country': ['UK', 'Canada', 'China', 'USA'],
    'Course': ['Python', 'Data Structure', 'Machine Learning', 'Web Development'],
    'Marks': [85, 72, 89, 76]
}
df= pd.DataFrame(y)
df

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada    Data Structure     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

In [14]:
b=df[["Marks"]]
b

   Marks
0     85
1     72
2     89
3     76

In [15]:
y=df["Student"]
y

0     David
1    Samuel
2     Terry
3      Evan
Name: Student, dtype: object

In [16]:
type(y)

pandas.core.series.Series

In [17]:
df.iloc[0,0]

'David'

In [18]:
df.iloc[0,2]

'UK'

In [20]:
df.loc[0,'Course']

'Python'

In [23]:
df.loc[1,'Country']

'Canada'

In [25]:
# set index name
df2=df
df2=df2.set_index("Student")
df2.head()

         Age Country            Course  Marks
Student
David     27      UK            Python     85
Samuel    24  Canada    Data Structure     72
Terry     22   China  Machine Learning     89
Evan      32     USA   Web Development     76

In [4]:
df2.loc['Terry','Marks']

NameError: name 'df2' is not defined

In [27]:
pip install numpy as np

Requirement already satisfied: numpy in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [28]:
pip install numpy

Requirement already satisfied: numpy in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [29]:
pip install numpy

Requirement already satisfied: numpy in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df2.loc['Terry','Marks']

NameError: name 'df2' is not defined

In [31]:
df.iloc[0:2,0:3]

  Student  Age Country
0   David   27      UK
1  Samuel   24  Canada

In [34]:
df.loc[0:2,"Age":"Course"]

   Age Country            Course
0   27      UK            Python
1   24  Canada    Data Structure
2   22   China  Machine Learning

In [35]:
pip install numpy

Requirement already satisfied: numpy in c:\users\ityub\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [38]:
# loading data 
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
df = pd.read_csv(filename)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [40]:
x= df[["Length"]]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [41]:
type(x)

pandas.core.frame.DataFrame

In [43]:
y=df['Length']
type(y)

pandas.core.series.Series

In [46]:
y= df[["Length","Artist","Released"]]
y

    Length           Artist  Released
0  0:42:19  Michael Jackson      1982
1  0:42:11            AC/DC      1980
2  0:42:49       Pink Floyd      1973
3  0:57:44  Whitney Houston      1992
4  0:46:33        Meat Loaf      1977
5  0:43:08           Eagles      1976
6  1:15:54         Bee Gees      1977
7  0:40:01    Fleetwood Mac      1977